<footer>
    <div class="footer-nav">
        <div class="footer-logo">
            <a href="/"><img src="../assets/images/logo.png" alt=""></a>
        </div>

        <div class="footer-contact">
            <h3>Contact</h3>
            <span>28830 Hassania 1, Mohammedia, Maroc</span>
            <a href="tel:+212699101129">+212 699-101129</a>
            <a href = "mailto: info@electro-market.com">info@electro-market.com</a>
        </div>

        <div class="footer-categories">
            <h3>Catégories</h3>
            <ul>
                <li><a href="/accessoires">Accessoires</a></li>
                <li><a href="/ordinateur-portables">Ordinateur bureaux</a></li>
                <li><a href="/ordinateur-bureaux">Ordinateur portables</a></li>
            </ul>
        </div>

        <div class="footer-socials">
            <h3>Social médias</h3>
            <div>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
            </div>

        </div>
    </div>

    <div class="copyright-text-container">
        <span>Copyright © : ElectroMarket</span>
    </div>
</footer>