<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout - Vente matériel informatique au meilleur prix</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="../assets/css/checkout-success.css">
</head>
<body>
    <header>
            <%- include('./partials/navbar') %>
    </header>   

    <main>
        <div class="container">
            <h1>Merci d'avoir magasiné chez nous!</h1>
            <p>Un de nos employés vous contactera pour confirmer votre commande.</p>

            <div class="checkout-footer">
                <a href="/store"><button>Store</button></a>
            </div>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>


    <script>
        
    </script>
</body>
</html>