<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Vente matériel informatique au meilleur prix</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="../assets/css/contact.css">
</head>
<body>
    <header>
            <%- include('./partials/navbar') %>
    </header>   

    <main>
        <div class="section-header">
            <h1>Contactez-nous</h1>
            <img src="../assets/laptop.png" alt="">
        </div>

        <div class="contact-options">
            <div class="contact-card">
                <i class="fas fa-phone"></i>
                <span>+212 699-101129</span>
            </div>
            <div class="contact-card">
                <i class="fas fa-envelope"></i>
                <p>info@electro-market.com <br> support@electro-market.com</p>
            </div>
            <div class="contact-card">
                <i class="fa fa-map-marker"></i>
                <span>28830 Hassania 1, Mohammedia, Maroc</span>
            </div>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>


    <script>
        

    </script>
</body>
</html>